body {
    background-color: lightcyan;
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
}

#content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#navigation-sidebar {
    border: solid 1px black;
    width: 20%;
    margin-top: 10rem;
}

#interval-notes {
    font-weight: bold;
    font-size: 150%;
    margin: 12px 0;
}

#feedback-paragraph {
    font-weight: bold;
    font-size: 120%;
}

#solution-control-panel label {
    display: block;
    margin: 4px 0;
}
