body {
    background-color: lightgrey;
}

#interval-notes {
    font-weight: bold;
    font-size: 150%;
    margin: 12px 0;
}

#feedback-paragraph {
    font-weight: bold;
    font-size: 120%;
}

#solution-control-panel label {
    display: block;
    margin: 8px 0;
}
